body{
    background-image: url(IMAGES/BACKGROUND\ FOOD.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

h1{
    text-align: center;
    
    background-color: chartreuse;
padding-left: 50px;
padding-right: 50px;
}
h2{
    text-align: center;
    background-color: yellow;
    padding-left: 80px;
padding-right: 80px;
}
main{
    text-align: center;
    padding-left: 50px;
padding-right: 50px;
}
button{
    text-align: center;
    bottom: 200px;
    color: floralwhite;
    
}