body{
    background-image: url(IMAGES/Fruit\ background_20210411-165632~2.png);
    background-repeat: no-repeat;
background-size: cover;
}
h1{
    background-color: bisque;
    text-align: center;
    image-resolution: 150;
   font-size: 30px; 
padding-top: 30px;
padding-bottom: 30px;
}
P{
    text-align: center;
    text-overflow: 200px;
     
}